body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: block;
  width: 100%;
}

.redbutton {
  background-color: red;
  font-style: italic;

  transition-duration: 0.4s;
  border-style: double;
  border-color: red;
}

.redbutton:hover,
.bluebutton:hover {
  background-color: #effff000;
  color: white;
}

.bluebutton {
  background-color: rgb(0, 187, 255);
  font-style: italic;
  border: 2px;
  transition-duration: 0.4s;
  border-style: double;
  border-color: rgb(0, 187, 255);
}

.buttontable {
  font-style: italic;
  width: fit-content;
  text-align: left;
}

.orangebutton:hover {
  background-color: #effff000;
  color: white;
}


.orangebutton {
  background-color: rgb(226, 84, 8);
  font-style: italic;
  border: 2px;
  transition-duration: 0.4s;
  border-style: double;
  border-color: rgb(255, 85, 0);
}

.clsStyle {
  font-size: 11pt;
  font-family: Arial;
  border-collapse: collapse;
  border: 1px solid silver;
  text-align: left;
  width: fit-content;

}

.clsStyle input {

  color: azure;
}

.clsStyle td,
th {
  padding: 5px;
  border: 1px solid silver;
}

.clsStyle tr:nth-child(even) {
  background: #1974ca;
}

.clsStyle tr:hover {
  background: rgb(115, 42, 0);
  cursor: pointer;
}

.clsStyle th {
  font-style: italic;
  font-weight: bold;
  background-color: blueviolet;
}

.clsStyle th:hover {
  background: rgb(154, 9, 164);
}

.clsGlobalContainer {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.clsSymbolsContainer {
  display: inline-block;
  vertical-align: top;
  width: 50%
}

.clsTraderTable {
  display: inline-block;
  vertical-align: top;
  font-size: 14pt;
  width: 50%;
  border: #1974ca;
  border-style: solid;
  border-width: 2pt;
}

.input-wrapper {
  position: relative;
  font-size: small;
  border: 1px solid gray;
  border-radius: 2px;
  display: flex;
}

input {
  line-height: 6ex;
  color: white;
  background-color: #effff000;
  border-width: 0px #effff000 none;
  width: 60%;
  text-align: left;
}

.orangeTag {
  position: relative;
  background-color: orange;
  color: black;
  font-size: large;
  margin: 1px;
  width: 40%;
}

.redTag {
  position: relative;
  background-color: rgb(177, 22, 22);
  color: black;
  font-size: large;
  margin: 1px;
  width: 40%;
}


.blueTag {
  position: relative;
  background-color: rgb(12, 146, 255);
  color: black;
  font-size: large;
  margin: 1px;
  width: 40%;
}