body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

input {
  line-height: 6ex;
  color: white;
  background-color: #effff000;
  border-width: 0px #effff000 none;
  width: 60%;
  text-align: left;
}

button {
  display: block;
  width: 100%;
  border-color: rgb(0, 0, 0);
  border: 2px;
  font-style: italic;
  transition-duration: 0.4s;
  border-style: double;
}

.clsRedbutton:hover,
.clsBluebutton:hover,
.clsOrangebutton:hover {
  background-color: #effff000;
  color: white;
}

.clsRedbutton {
  background-color: red;
}

.clsBluebutton {
  background-color: rgb(0, 187, 255);
}

.clsOrangebutton {
  background-color: rgb(226, 84, 8);
}

.clsStyle {
  font-size:8pt;
  font-family: 'Consolas';
  border-collapse: collapse;
  width: fit-content;
  font-style: italic;
  font-weight: bold;
}

.clsStyle input {
  color: azure;
}

.clsStyle td {
  padding: 2px;
  border: 1px solid silver;
}

.clsStyle th {
  padding: 5px;
  border: 1px solid silver;

  background-color: blueviolet;
}

.clsStyle td:nth-child(1),
.clsStyle td:nth-child(8),
.clsStyle td:nth-child(9){
  border: 3px solid rgb(25, 131, 81);
}

.clsStyle tr:nth-child(even) {
  background: #413f3f;
}

.clsStyle tr:hover {
  background: rgb(115, 42, 0);
  cursor: pointer;
}

.clsStyle th:hover {
  background: rgb(154, 9, 164);
}

.clsBorderless th
{
  font-size:8pt;
  font-family: 'Consolas';
  border-collapse: collapse;
  width: fit-content;
  padding: 5px;
  border: 1px solid silver;
  font-style: italic;
  font-weight: bold;
  background-color: blueviolet;
}

.clsBorderless th:hover {
  background: rgb(154, 9, 164);
}

.clsGlobalContainer {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.clsSymbolsContainer {
  display: inline-block;
  vertical-align: top;
  align-self: start;
  width: 50%
}

.clsHistoryContainer {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  width: fit-content;
  width: 30%
}

.clsImageContainer {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  width: 70%;
}

.clsTraderContainer {
  display: inline-block;
  vertical-align: top;
  font-size: 13pt;
  width: 50%;
}

.clsCalculator {
  vertical-align: top;
  font-size: 13pt;
  border: #da5a11;
  border-style: solid;
  border-width: 2pt;
  margin: 0px 10px 10px 10px;
}

.clsOrders {
  vertical-align: top;
  font-size: 13pt;
  border: #16b175;
  border-style: solid;
  border-width: 2pt;
  margin: 0px 10px 10px 10px;
}

.clsSymbolProperties
{
  background-color: blueviolet;
  border: 1px solid silver;
  font-size: small;
  margin-bottom: 200px;
}

.clsPositionsTable {
  vertical-align: top;
  font-size: 13pt;
  border: #ff5100;
  border-style: solid;
  border-width: 2pt;
  margin: 10px
}

.input-wrapper {
  position: relative;
  font-size: small;
  border: 1px solid gray;
  border-radius: 2px;
  display: flex;
}

.orangeTag {
  position: relative;
  background-color: orange;
  color: black;
  font-size: large;
  margin: 1px;
  width: 40%;
}

.redTag {
  position: relative;
  background-color: rgb(177, 22, 22);
  color: black;
  font-size: large;
  margin: 1px;
  width: 40%;
}


.blueTag {
  position: relative;
  background-color: rgb(12, 146, 255);
  color: black;
  font-size: large;
  margin: 1px;
  width: 40%;
}

.apexcharts-tooltip  {
  background: #ffffff00 !important;
}